<div class="layout-column align-items-center mt-50">

  <section class="layout-row align-items-center justify-content-between">
    <label>Celsius: </label>
    <input [ngModel]='c' (ngModelChange)="onChanged($event, 'c')" type="number" class="large" data-test-id="celsius-input"/>
  </section>

  <section class="layout-row align-items-center justify-content-between">
      <label>Fahrenheit: </label>
      <input [ngModel]='f' (ngModelChange)="onChanged($event, 'f')" type="number" class="large" data-test-id="fahrenheit-input"/>
  </section>
</div>